/*reset*/
body,h1,h2,h3,h4,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin: 0;padding: 0;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize:none;overflow: auto;}
body{font-size:12px;font-family:"微软雅黑";}

/*commonStyle*/
.fl{float: left;}
.fr{float: right;}
/*兼容IE的清浮动*/
.cl{zoom:1;}
.cl:after{content:'';display:block;clear: both;}
.gradient{
	background:-webkit-linear-gradient(top,#ffffff,#f3f3f3);
	background:-moz-linear-gradient(top,#ffffff,#f3f3f3);
	background:-ms-linear-gradient(top,#ffffff,#f3f3f3);
	background:-o-linear-gradient(top,#ffffff,#f3f3f3);
	background:linear-gradient(top,#ffffff,#f3f3f3);
	/*IE滤镜实现渐变 ie8+*/
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#ffffff', 
endColorstr = '#f3f3f3' )";
	/*ie7及以下，做优雅降级,取渐变色的中间色给它*/
	+background:#f9f9f9;
}
/*layout*/
.wrap{width: 960px;margin:0 auto;}
#header{height:30px;}
#nav{height: 95px;background-color: #fff;}
#search{position: relative;height: 114px;border: 1px solid #dbdbdb;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.main-wrap,.side-wrap{margin-top: 10px;}
.main-wrap{width: 712px;}
.main{padding-bottom: 10px;}
/*
IE6-7下margin-bottom失效的问题:
当父级清浮动，容器内有左浮动、右浮动的时候，在ie6、7下，浮动元素的margin-bottom会失效
解决办法:去掉浮动元素的margin-bottom,改为给父级增加padding-bottom
*/
.section-side,.side-ad,.main-ad{margin-bottom: 10px;}
.section,.tab{width: 318px;}
.section{padding:0 15px;border: 1px solid #e5e5e5;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.section-side{padding: 0 12px;}
/*
如果需要产生一张撑满整个div的圆角图片,有三种方法
1.ps直接切圆角图，父级不要加边框色
2.直接给该图片加border-radius属性
3.给图片的父级加border-radius属性，但是还要加overflow:hidden;
*/
.main-ad,.side-ad{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;overflow: hidden;}
.side-wrap{width: 242px;}
.section-side{border:1px solid #e5e5e5;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
#footer{border: 1px solid #e5e5e5;height:100px;margin-bottom: 30px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

/*小部分的管理*/
/*tab,一种诡异的选项卡布局思路,用相对定位、绝对定位、一像素的高度差、z-index来布局*/
.tab{position: relative;width:352px;}
.tab .slide {overflow: hidden;zoom: 1;}
.tab .slide li{cursor: pointer;position:relative;z-index:2;font-size: 12px;height: 33px;line-height:33px;text-align: center;width: 172px;border: 1px solid #e5e5e5;-webkit-border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;border-radius: 6px 6px 0 0;border-bottom:none;}
.tab .slide li.active{background-color: #fff;height: 34px;}
.tab .tab-content{position: absolute;z-index: 1;top:17px;left: 0px;width: 320px;border: 1px solid #e5e5e5;-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 6px 6px;border-radius: 0 0 6px 6px;}
.tab-content{padding: 0 15px;}
/*header*/
/*使用line-height在ie6下不起作用诶*/
.city{float: left;color: #666666;cursor:pointer;padding:4px 0 0 20px;}
.city .active,.city .active:hover{background-color: #fff;;color: #d60d03;}
.city a{padding:0 10px;display:inline-block;height: 20px;line-height: 20px;margin-left: 4px;color:#999999;border: 1px solid #e5e5e5;background-color: #fff;-webkit-box-shadow: 1px 1px 0px #ededed;-moz-box-shadow: 1px 1px 0px #ededed;box-shadow: 1px 1px 0px #ededed;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.city a:first-child{margin-left:16px;}
.city a:hover{background-color: #efefef;}
/*导航文字与竖线之间的距离可以用word-spacing来编写*/
.link{float: right;cursor: pointer;color: #d5d5d5;word-spacing: 4px;line-height: 30px;padding-right: 20px;}
.link a{color: #666666;padding-left: 20px;background: url("../img/head_link.gif") no-repeat;}
.link a:hover{color:#cd0000;}
.link .join{background-position: 0px 2px;}
.link .manage{background-position: 0px -40px;_background-position:0px -42px;}

/*nav*/
#nav{position: relative;}
#nav ul{padding-top:14px;}
#nav ul li{width: 66px;float: left;text-align: center;}
#nav ul li a{color: #333333;padding-top: 50px;;display:block;width: 100%;height: 100%;background: url("../img/btn_sprite.png") 5px 0px  no-repeat;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
#nav .nav1{position: absolute;top: 0px;left:16px;}
#nav .nav2{position: absolute;top: 0px;right:16px;}
#nav h1{width: 223px;height: 62px;margin: 0 auto;padding-top:16px;}
#nav h1 img{width: 100%;}
/*在ie6等远古浏览器中，只有a才支持hover，要么用a标签来做，要么用js来解决*/
/*用js甚至可以在ie6下实现transition*/
#nav ul li.nav-bg-1 a{background-position:5px 0px;}
#nav ul li.nav-bg-1 a:hover{background-position: 5px -66px;}
#nav ul li.nav-bg-2 a{background-position:-60px 0px;}
#nav ul li.nav-bg-2 a:hover{background-position: -60px -66px;}
#nav ul li.nav-bg-3 a{background-position:-126px 0px;}
#nav ul li.nav-bg-3 a:hover{background-position: -126px -66px;}
#nav ul li.nav-bg-4 a{background-position:-192px 0px;}
#nav ul li.nav-bg-4 a:hover{background-position: -192px -66px;}
#nav ul li.nav-bg-5 a{background-position:-256px 0px;}
#nav ul li.nav-bg-5 a:hover{background-position: -256px -66px;}
#nav ul li.nav-bg-6 a{background-position:-324px 0px;}
#nav ul li.nav-bg-6 a:hover{background-position: -324px -66px;}
#nav ul li.nav-bg-7 a{background-position:-389px 0px;}
#nav ul li.nav-bg-7 a:hover{background-position: -389px -66px;}
#nav ul li.nav-bg-8 a{background-position:-456px 0px;}
#nav ul li.nav-bg-8 a:hover{background-position: -456px -66px;}
#nav ul li.nav-bg-9 a{background-position:-522px 0px;}
#nav ul li.nav-bg-9 a:hover{background-position: -522px -66px;}
#nav ul li.nav-bg-10 a{background-position:-588px 0px;}
#nav ul li.nav-bg-10 a:hover{background-position: -588px -66px;}

/*search*/
/*box-shadow和border-radius虽然都是css3的属性，但是支持它的浏览器都只有一种写法就行了*/
#search .search-tab{position: absolute;z-index: 2;top: -11px;left: 226px;}
#search .search-tab li{cursor: pointer;background-color: #fff;;float: left;width: 78px;height: 26px;line-height: 26px;margin-right: 1px;text-align: center;border: 1px solid #f8d0bf;border-radius: 5px 5px 0 0;border-bottom:none;color:#000;box-shadow:0px -1px 1px #e3e3e3;}
#search .search-tab .active{color: #fff;text-shadow:1px 2px 1px #b71701;position: relative;top: -1px;height: 28px;background-color: #e21c01;border-color: #c40d0e;}
#search .search-bar{position: absolute;left: -1px;top: 16px;width: 958px;height: 65px;border: 1px solid #c40d0e;background-color: #e21c01;box-shadow:1px 1px 2px #d2d2d2;border-radius: 5px}

.search-bar .tag{position:absolute;left: 32px;top: -21px;}
.search-bar form{position: absolute;top: 20px;left: 226px;}
.search-bar form input{float: left;}
.search-bar form .text{outline: none;border:none;width: 382px;height: 22px;line-height: 24px;padding: 0 10px;border-radius: 3px;box-shadow: 1px 2px 2px #ca8c83 inset;color: #ea7a7a;}
.search-bar form .btn{margin-left: 10px;width: 62px;height: 24px;border:none;background: url("../img/btn.png") no-repeat;}
.search-bar .hot-search{width: 204px;height: 32px;color: #fff;position: absolute;top: 14px;right: 38px;}
.search-bar .hot-search p{line-height: 18px;}
.search-bar .hot-search p a{color: #fff;}
.search-bar .hot-search p a:hover{text-decoration: underline;}

/*arrow*/
/*overflow:hidden这一句很重要，用css写的三角形除了在ie6下有点小问题，其他的浏览器基本都能正常使用*/
.arrow{cursor: pointer;display: block;overflow: hidden;width: 0;height: 0;border:4px solid #cc0d13;border-color:transparent;_border-color:#fff;}
.a-up-red{border-bottom-color:#cc0d13;}
.a-down-red{border-top-color:#cc0d13;}
.a-down-grey{border-top-color:#c1c1c1;}

/*update*/
.update{width: 408px;height: 33px;position: absolute;bottom: 0;left: 224px;background: url("../img/update.png") 0px 10px no-repeat;}
.update .update-wrap{height: 33px;overflow: hidden;float: left;}
.update .update-wrap ul li{width: 338px;height: 33px;line-height: 33px;padding-left: 60px;}
.update .update-wrap ul li a{color: #000;}
.update .update-wrap ul li a:hover{text-decoration: underline;}
.update .update-wrap ul li a em{color: #d30703;}
.update .update-wrap ul li a span{color:#999999;}
.update .arrow-wrap{padding-top: 7px;}
.arrow-wrap .a-up-red{margin-bottom: 5px;}

/*video*/
.video-title{height: 40px;line-height: 40px;color:#d90000;font-family: "Arial";font-size: 14px;background: url("../img/video_sp.png") 105px 10px no-repeat;}
.video-list{padding:16px 0 8px 85px;background: url("../img/video_sp.png") 0px -46px no-repeat;}
.video-list li{text-indent: 4px;padding-bottom: 8px;background: url("../img/list-dot.png") 0px 6px no-repeat;font-size: 12px;}
.video-list li a{color: #4d4d4d;}
.video-list li a:hover{text-decoration: underline;}

/*model-title*/
li .model-title{_padding-top:6px;}
.model-title,.more-title{font-size: 14px;color: #2b2d2d;}
.model-title em,.more-title em{color:#cc0d13;font-family: "Arial";padding-right: 8px;}
.model-title .arrow{display: inline-block;position: relative;left: 9px;}
.gradient .model-title em{color:#666666;}

/*tab*/
.tab-content .tab-u li{width: 318px;height: 110px;background: url("../img/hot.png") 100% 10px no-repeat;}
.tab-img,.tab-art{padding: 10px 0;}
.tab-content .tab-u .tab-img{position: relative;}
.tab-img .save{position: absolute;bottom:-5px;right: -5px;}
.tab-content .tab-u .tab-art{padding-left: 20px;}
.tab-content .tab-u .tab-art h3{padding-bottom: 12px;font-size: 12px;}
.tab-content .tab-u .tab-art p{color: #6e6e6e;line-height: 17px;} 
.tab-content .tab-u li a{color: #bb0d0d;}
.tab-content .tab-u li a:hover{text-decoration: underline;}

/*more*/
.more{text-align: right;height: 34px;line-height: 34px;+height:24px;+line-height:24px;}
.more img{vertical-align: bottom;}
.more-title{height: 30px;line-height: 30px;position:relative;_top:5px;}
.more-title a{position:absolute;right:0px;}
.more-title a img{vertical-align: middle;}
.main .tab{height: 300px;}
.main .tab .tab-content{padding:10px 15px 0px;}

/*calendar*/
#date{background: url("../img/calendar.jpg") top center no-repeat;}
.daily,.recom{width:100%;height: 72px;position: relative;}
.daily span,
.daily h3{position: absolute;font-size: 22px;font-weight: normal;}
.daily .en{color:#ea2b31;font-size: 10px;font-family: "Arial";top: 12px;left:24px;font-weight: bold;}
.daily .ch{color:#333333;font-size: 24px;top:26px;left:24px;}
.daily .time{color:#ec1c16;font-size: 30px;top: 16px;left: 128px;}
.daily-title{width: 204px;padding:0 15px 20px 0;}
.daily-title h4{color: #333333;font-size: 12px;font-weight: bold;}
.daily-title h4 em{color: #cf1812;display: inline-block;width: 25px;height: 25px;line-height: 25px;text-align: center;border:1px solid #d2d2d2;border-radius:3px;margin-right: 4px;}
.daily-title h4 strong{padding-left: 3px;}
.daily-title p{color: #999999;padding-top: 8px;}

.clen{width: 308px;margin:0 auto;padding-bottom: 20px;}
.clen dt{float: left;background-color: #f9f9f9;color: #333333;height: 35px;line-height: 35px;padding:0 9px;font-weight: bold;}
.clen dd{cursor:default;float: left;width: 40px;height: 40px;margin:2px;_margin:2px 0 0 3px;text-align: center;line-height: 40px;background-color: #ededed;color: #9c9c9c;}
.clen dd.next-mon{background-color: #f8f8f8;color: #d2d2d2;}
.clen dd#today{background:url("../img/show-min.jpg") 0px 0px no-repeat;}
.clen dd#ac1{background:url("../img/pizza-min.jpg") 0px 0px no-repeat;}
/*鼠标移入显示内容*/
.hover-wrap{display: none;width: 318px;height: 108px;border: 1px solid #c0c0c0;box-shadow: 4px 4px 1px #bfbfbf;}
.hover-info{padding: 10px 15px;position: relative;}
.hover-info .big{border: 2px solid #dddddd;}
.hover-info h3{color: #333333;font-size: 10px;}
.hover-info h3 em{font-size: 16px;color: #cccccc;padding-right: 7px;}
.hover-content h3,
.hover-content p{padding-left: 5px;}
.hover-content p{color:#999;line-height: 18px;padding-top: 12px;}
.hover-info a{float: right;}
.hover-info .arrow{width: 8px;height: 16px;border: 0px;position: absolute;top:47px;left:-8px;z-index: 999;}
.hover-content{width: 199px;height: 86px;}

/*精彩推荐*/
#recom{background: url("../img/rec-sp.png") 120px 0px no-repeat;}
#recom,#date{height: 498px;}
#date{_height:510px;}
/*slider*/
.slider-wrap{width:320px;height: 160px;background-color: #f8f8f8;position: relative;bottom: 12px;}
.slider-wrap .big-slider{position: relative;width: 224px;height: 134px;top: 12px;left: 10px;}
.slider-wrap .big-slider li{position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: none;}
.slider-wrap .big-slider .active{display:block;}
.slider-wrap .slider-text{position:relative;top: 12px;left: 10px;height: 14px;overflow: hidden;zoom: 1;clear: both;}
.slider-wrap .slider-text li{color: #000;}
.slider-wrap .tab-slider{width: 60px;height: 135px;float: right;position: relative;top: 12px;right: 10px;}
.slider-wrap .tab-slider li{width: 54px;height: 32px;border: 4px solid #f8f8f8;margin-bottom: 9px;}
.slider-wrap .tab-slider li img{width: 54px;height: 32px;}
.slider-wrap .tab-slider .active{border-color: #d6191d;}

/*news-list*/
.news-list{padding-top: 14px;}
.news-list li{margin-bottom: 14px;position: relative;width: 100%;}
.news-list li em{width: 24px;height: 14px;border-right: 1px solid #dfdfdf;display: inline-block;margin-right: 6px;}
.news-list li a{color: #454545;display:inline-block;}
.news-list li a:hover{text-decoration: underline;}
.news-list li span{font-size: 10px;color: #999999;position: absolute;right: 0;}

/*bbs-list*/
.bbs{height: 298px;}
.bbs-list li{border-radius: 2px;}
.normal-list{position: relative;width: 100%;height: 30px;}
.normal-list{background-color:#f8f8f8;margin-bottom: 4px;}
.ev{background-color:#f1f1f1;}
.normal-list em{color: #dd3030;font-weight: bold;font-size: 12px;position:absolute;top:8px;left: 10px;}
.normal-list a{color: #333333;position:absolute;top:8px;left: 44px;}
.normal-list span{color: #666666;position:absolute;top:8px;right: 0px;}
.hover-list{position: relative;width: 100%;height: 70px;background-color: #d90000;border-radius: 3px;display: none;}
.hover-list img{position: absolute;top: 10px;left: 10px;}
.hover-list h4,.hover-list p,.hover-list strong{position: absolute;color: #fff;}
.hover-list h4{font-size: 14px;left: 70px;top: 16px;}
.hover-list p{font-size: 12px;left: 70px;top: 40px;}
.hover-list strong{font-size:22px;bottom: -5px;right: 0px;}

/*model-tab选项卡模块化*/
.model-tab{width: 100%;height: 40px;}
.model-tab .line{width: 100%;height: 9px;display: block;border-top:1px solid #dadada;}
.model-tab ul{position: relative;left: 10px;}
.model-tab li{cursor: pointer;position: relative;float: left;width:98px;height: 26px;line-height: 26px;border:1px solid #dadada;text-align:center;border-radius: 4px 4px 0 0;border-bottom: none;position: relative;top: 1px;}
.model-tab li.active{height: 27px;background-color: #fff;z-index: 99;}
.model-tab li .arrow{position: absolute;top: 10px;right: 12px;}

.side-tab ul{left: 6px;}
.side-tab li{width: 66px;font-size: 10px;}

/*main-tab列表*/
.main-tab-content h3{width: 100%;height: 19px;line-height: 19px;color: #999999;font-weight: normal;font-size: 12px;position: relative;border-bottom: 1px dotted #cbcbca;}
.main-tab-content .title{position: absolute;left: 116px;}
.main-tab-content .status{position: absolute;right: 16px;}
.main-tab-content .i-know{padding-bottom: 16px;}
.main-tab-content .i-know li{width: 100%;height: 27px;line-height: 27px;position: relative;border-bottom: 1px dotted #cbcbca;}
.main-tab-content .i-know .ok{background:url("../img/tab-bg-sp.png") 283px 8px no-repeat;}
.main-tab-content .i-know .stop{background:url("../img/tab-bg-sp.png") 283px -10px no-repeat;}
.main-tab-content .i-know li em{color: #767676;padding:0px 8px 0px 16px;background: url("../img/list-dot.png") 10px 6px no-repeat;}
.main-tab-content .i-know li em span{color: #c75d61;}
.main-tab-content .i-know li a{color: #454545;}
.main-tab-content .i-know li a:hover{text-decoration: underline;}

/*tab查询部分*/
.tab-search-wrap{width: 100%;height: 24px;line-height: 24px;position: relative;padding-bottom: 20px;}
.tab-search-wrap .tab-search{position: absolute;left: 12px;color: #595959;font-size: 12px;}
.tab-search-wrap .tab-select{}
.tab-search-wrap .tab-input{position: absolute;left: 92px;width: 180px;height: 20px;line-height: 20px;border:1px solid #9c9c9c;color: #9c9c9c;padding-left:4px;}
.tab-search-wrap .tab-go{position: absolute;right: 10px;width: 23px;height: 23px;border:0px;background: url("../img/tab-bg-sp.png") 0px -39px no-repeat;}

/*红人烧客图片show*/
.hot-img-wrap{width: 320px;padding:5px 0 15px 0;}
.hot-img-wrap .hot-title{width: 78px;height: 78px;float: left;margin:0 2px 2px 0;background-color: #ca0002;color: #fff;}
.hot-img-wrap .hot-title h4{position:relative;top: 10px;
left: 10px;font-size: 14px;}
.hot-img-wrap .hot-title p{font-size: 12px;position: relative;left: 10px;top:14px;}
.hot-img-wrap .box{float: left;width: 78px;height: 78px;margin:0 2px 2px 0;position: relative;}
.hot-img-wrap .box .mark{display:none;width: 100%;height: 100%;background-color: #000;opacity: 0.6;filter:alpha(opacity=60);position: absolute;top: 0;left: 0;}
.hot-img-wrap .big{width: 157px;}
.hot-img-wrap .box a{color: #fff;font-size: 10px;}
.hot-img-wrap .box a p{font-size: 10px;line-height:17px;position: relative;left: 10px;top: 10px;}
.hot-img-wrap .box img{width: 100%;}

/*帮助模块*/
.connect-wrap{width: 320px;height: 96px;border-bottom: 1px solid #ededee;}
.connect-wrap p{width: 320px;height: 40px;padding-top: 20px;color: #333333;font-size: 12px;text-indent:2em;line-height: 20px;}
.help-dital-wrap{width: 320px;height:96px;padding-top: 18px;}
.help-dital-wrap .dital{position: relative;}
#userHelp{left: 10px;}
#bzHelp{right: 30px;}
.dital{width: 108px;}
.help-dital-wrap .dital h4{font-size: 12px;font-weight: bold;color: #292929;}
.help-dital-wrap .help-dital-list{margin-top: 6px;}
.help-dital-wrap .help-dital-list li{padding-left: 12px;background: url("../img/list-dot.png") 4px 6px no-repeat;margin-bottom:6px;}
.help-dital-wrap .help-dital-list li a{font-size:12px;color: #292929;}
.help-dital-wrap .help-dital-list li a:hover{text-decoration: underline;}

/*媒体声音*/
.media-section{height:243px;}
.media-wrap{padding-top: 20px;}
.media-wrap li{width: 320px;height: 32px;margin-bottom: 6px;}
.media-wrap li img{width: 90px;}
.media-wrap li a{color: #292929;padding-left: 12px;display:block;width: 218px;font-size: 12px;}
.media-wrap li a:hover{text-decoration: underline;}


