/*reset*/
body,h1,h2,h3,h4,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin: 0;padding: 0;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize:none;overflow: auto;}
body{font-size:12px;font-family:"微软雅黑";}

/*commonStyle*/
.fl{float: left;}
.fr{float: right;}
/*兼容IE的清浮动*/
.cl{zoom:1;}
.cl:after{content:'';display:block;clear: both;}
.gradient{
	background:-webkit-linear-gradient(top,#ffffff,#f3f3f3);
	background:-moz-linear-gradient(top,#ffffff,#f3f3f3);
	background:-ms-linear-gradient(top,#ffffff,#f3f3f3);
	background:-o-linear-gradient(top,#ffffff,#f3f3f3);
	background:linear-gradient(top,#ffffff,#f3f3f3);
	/*IE滤镜实现渐变 ie8+*/
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#ffffff', 
endColorstr = '#f3f3f3' )";
	/*ie7及以下，做优雅降级,取渐变色的中间色给它*/
	+background:#f9f9f9;
}
/*layout*/
.wrap{width: 960px;margin:0 auto;}
#header{height:30px;}
#nav{height: 95px;background-color: #fff;}
#search{position: relative;height: 114px;border: 1px solid #dbdbdb;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.main-wrap,.side-wrap{margin-top: 10px;}
.main-wrap{width: 712px;}
.main{padding-bottom: 10px;}
/*
IE6-7下margin-bottom失效的问题:
当父级清浮动，容器内有左浮动、右浮动的时候，在ie6、7下，浮动元素的margin-bottom会失效
解决办法:去掉浮动元素的margin-bottom,改为给父级增加padding-bottom
*/
.section-side,.side-ad,.main-ad{margin-bottom: 10px;}
.section,.tab{width: 318px;;height:200px;}
.section{padding: 0 15px;;border: 1px solid #e5e5e5;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.section-side{padding: 0 12px;}
/*
如果需要产生一张撑满整个div的圆角图片,有三种方法
1.ps直接切圆角图，父级不要加边框色
2.直接给该图片加border-radius属性
3.给图片的父级加border-radius属性，但是还要加overflow:hidden;
*/
.main-ad,.side-ad{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;overflow: hidden;}
.side-wrap{width: 242px;}
.section-side{height: 200px;border:1px solid #e5e5e5;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
#footer{border: 1px solid #e5e5e5;height:100px;margin-bottom: 30px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

/*小部分的管理*/
/*tab,一种诡异的选项卡布局思路,用相对定位、绝对定位、一像素的高度差、z-index来布局*/
.tab{position: relative;width: 352px;height: 100px;}
.tab .slide li{position:relative;z-index:2;font-size: 12px;height: 33px;line-height:33px;text-align: center;width: 172px;border: 1px solid #e5e5e5;-webkit-border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;border-radius: 6px 6px 0 0;border-bottom:none;}
.tab .slide li.active{background-color: #fff;height: 34px;}
.tab .tab-content{position: absolute;z-index: 1;top:34px;left: 0px;width: 350px;height: 80px;border: 1px solid #e5e5e5;-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 6px 6px;border-radius: 0 0 6px 6px;}

/*header*/
/*使用line-height在ie6下不起作用诶*/
.city{float: left;color: #666666;cursor:pointer;padding:4px 0 0 20px;}
.city .active,.city .active:hover{background-color: #fff;;color: #d60d03;}
.city a{padding:0 10px;display:inline-block;height: 20px;line-height: 20px;margin-left: 4px;color:#999999;border: 1px solid #e5e5e5;background-color: #fff;-webkit-box-shadow: 1px 1px 0px #ededed;-moz-box-shadow: 1px 1px 0px #ededed;box-shadow: 1px 1px 0px #ededed;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.city a:first-child{margin-left:16px;}
.city a:hover{background-color: #efefef;}
/*导航文字与竖线之间的距离可以用word-spacing来编写*/
.link{float: right;cursor: pointer;color: #d5d5d5;word-spacing: 4px;line-height: 30px;padding-right: 20px;}
.link a{color: #666666;padding-left: 20px;background: url("../img/head_link.gif") no-repeat;}
.link a:hover{color:#cd0000;}
.link .join{background-position: 0px 2px;}
.link .manage{background-position: 0px -40px;_background-position:0px -42px;}

/*nav*/
#nav{position: relative;}
#nav ul{padding-top:14px;}
#nav ul li{width: 66px;float: left;text-align: center;}
#nav ul li a{color: #333333;padding-top: 50px;;display:block;width: 100%;height: 100%;background: url("../img/btn_sprite.png") 5px 0px  no-repeat;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
#nav .nav1{position: absolute;top: 0px;left:16px;}
#nav .nav2{position: absolute;top: 0px;right:16px;}
#nav h1{width: 223px;height: 62px;margin: 0 auto;padding-top:16px;}
#nav h1 img{width: 100%;}
/*在ie6等远古浏览器中，只有a才支持hover，要么用a标签来做，要么用js来解决*/
/*用js甚至可以在ie6下实现transition*/
#nav ul li.nav-bg-1 a{background-position:5px 0px;}
#nav ul li.nav-bg-1 a:hover{background-position: 5px -66px;}
#nav ul li.nav-bg-2 a{background-position:-60px 0px;}
#nav ul li.nav-bg-2 a:hover{background-position: -60px -66px;}
#nav ul li.nav-bg-3 a{background-position:-126px 0px;}
#nav ul li.nav-bg-3 a:hover{background-position: -126px -66px;}
#nav ul li.nav-bg-4 a{background-position:-192px 0px;}
#nav ul li.nav-bg-4 a:hover{background-position: -192px -66px;}
#nav ul li.nav-bg-5 a{background-position:-256px 0px;}
#nav ul li.nav-bg-5 a:hover{background-position: -256px -66px;}
#nav ul li.nav-bg-6 a{background-position:-324px 0px;}
#nav ul li.nav-bg-6 a:hover{background-position: -324px -66px;}
#nav ul li.nav-bg-7 a{background-position:-389px 0px;}
#nav ul li.nav-bg-7 a:hover{background-position: -389px -66px;}
#nav ul li.nav-bg-8 a{background-position:-456px 0px;}
#nav ul li.nav-bg-8 a:hover{background-position: -456px -66px;}
#nav ul li.nav-bg-9 a{background-position:-522px 0px;}
#nav ul li.nav-bg-9 a:hover{background-position: -522px -66px;}
#nav ul li.nav-bg-10 a{background-position:-588px 0px;}
#nav ul li.nav-bg-10 a:hover{background-position: -588px -66px;}

/*search*/
/*box-shadow和border-radius虽然都是css3的属性，但是支持它的浏览器都只有一种写法就行了*/
#search .search-tab{position: absolute;z-index: 2;top: -11px;left: 226px;}
#search .search-tab li{cursor: pointer;background-color: #fff;;float: left;width: 78px;height: 26px;line-height: 26px;margin-right: 1px;text-align: center;border: 1px solid #f8d0bf;border-radius: 5px 5px 0 0;border-bottom:none;color:#000;box-shadow:0px -1px 1px #e3e3e3;}
#search .search-tab .active{color: #fff;text-shadow:1px 2px 1px #b71701;position: relative;top: -1px;height: 28px;background-color: #e21c01;border-color: #c40d0e;}
#search .search-bar{position: absolute;left: -1px;top: 16px;width: 958px;height: 65px;border: 1px solid #c40d0e;background-color: #e21c01;box-shadow:1px 1px 2px #d2d2d2;border-radius: 5px}

.search-bar .tag{position:absolute;left: 32px;top: -21px;}
.search-bar form{position: absolute;top: 20px;left: 226px;}
.search-bar form input{float: left;}
.search-bar form .text{outline: none;border:none;width: 382px;height: 22px;line-height: 24px;padding: 0 10px;border-radius: 3px;box-shadow: 1px 2px 2px #ca8c83 inset;color: #ea7a7a;}
.search-bar form .btn{margin-left: 10px;width: 62px;height: 24px;border:none;background: url("../img/btn.png") no-repeat;}
.search-bar .hot-search{width: 204px;height: 32px;color: #fff;position: absolute;top: 14px;right: 38px;}
.search-bar .hot-search p{line-height: 18px;}

/*arrow*/
/*overflow:hidden这一句很重要，用css写的三角形除了在ie6下有点小问题，其他的浏览器基本都能正常使用*/
.arrow{cursor: pointer;display: block;overflow: hidden;width: 0;height: 0;border:4px solid #cc0d13;border-color:transparent;_border-color:#fff;}
.a-up-red{border-bottom-color:#cc0d13;}
.a-down-red{border-top-color:#cc0d13;}
.a-down-grey{border-top-color:#c1c1c1;}

/*update*/
.update{width: 408px;height: 33px;position: absolute;bottom: 0;left: 224px;background: url("../img/update.png") 0px 10px no-repeat;}
.update .update-wrap{height: 33px;overflow: hidden;float: left;}
.update .update-wrap ul li{width: 338px;height: 33px;line-height: 33px;padding-left: 60px;}
.update .update-wrap ul li a{color: #000;}
.update .update-wrap ul li a:hover{text-decoration: underline;}
.update .update-wrap ul li a em{color: #d30703;}
.update .update-wrap ul li a span{color:#999999;}
.update .arrow-wrap{padding-top: 7px;}
.arrow-wrap .a-up-red{margin-bottom: 5px;}